

NET "DB[7]" IOSTANDARD = LVCMOS33;
NET "DB[6]" IOSTANDARD = LVCMOS33;
NET "DB[5]" IOSTANDARD = LVCMOS33;
NET "DB[4]" IOSTANDARD = LVCMOS33;
NET "DB[3]" IOSTANDARD = LVCMOS33;
NET "DB[2]" IOSTANDARD = LVCMOS33;
NET "DB[1]" IOSTANDARD = LVCMOS33;
NET "DB[0]" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "E" IOSTANDARD = LVCMOS33;
NET "RS" IOSTANDARD = LVCMOS33;
NET "RW" IOSTANDARD = LVCMOS33;


NET "clk" LOC = E12;
NET "E" LOC = AB4;
NET "RS" LOC = Y14;
NET "RW" LOC = W13;
NET "DB[0]" LOC = Y13;
NET "DB[1]" LOC = AB18;
NET "DB[2]" LOC = AB17;
NET "DB[3]" LOC = AB12;
NET "DB[4]" LOC = AA12;
NET "DB[5]" LOC = Y16;
NET "DB[6]" LOC = AB16;
NET "DB[7]" LOC = Y15;


NET "chute[2]" IOSTANDARD = LVCMOS33;
NET "chute[1]" IOSTANDARD = LVCMOS33;
NET "chute[0]" IOSTANDARD = LVCMOS33;


NET "chute[1]" LOC = U10;
NET "chute[2]" LOC = U8;
NET "chute[0]" LOC = V8;


NET "ledvidas[2]" IOSTANDARD = LVCMOS33;
NET "ledvidas[1]" IOSTANDARD = LVCMOS33;
NET "ledvidas[0]" IOSTANDARD = LVCMOS33;


NET "ledvidas[2]" LOC = U20;
NET "ledvidas[1]" LOC = T19;
NET "ledvidas[0]" LOC = R20;
NET "botao" LOC = r13;
NET "reset" LOC = T9;


NET "reset" IOSTANDARD = LVCMOS33;

# PlanAhead Generated IO constraints 

NET "botao" IOSTANDARD = LVCMOS33;
